# --------------------------------
# Python
# --------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# --------------------------------
# IDE / OS
# --------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# --------------------------------
# DVC
# --------------------------------
.dvc/cache/

# --------------------------------
# MLflow
# --------------------------------
mlruns/

# --------------------------------
# Jupyter
# --------------------------------
.ipynb_checkpoints/